@import "src/assets/scss/mixins";
@import "src/assets/scss/colors";

.bodyUser {
  @include displayFlex(row, start, center);
  margin-top: 20px;

  &__ratingPlace {
    margin-right: 30px;
  }

  &__photo {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin-right: 30px;
  }

  &__score {
    margin-right: 30px;
  }

  &__name {
    margin-right: 30px;
  }

  &__ratingChangeUp {
    margin-left: auto;
    color: $statusUp;
  }

  &__ratingChangeDown {
    margin-left: auto;
    color: $statusDown;
  }

  &__ratingChangeDefault {
    margin-left: auto;
    color: $statusDefault;
  }

  &__edit {
    margin-left: 50px;
    margin-right: 10px;
    border: none;
    background-color: transparent;

    img {
      width: 30px;
      height: auto;
    }
  }
}
