//body
$body-background: #fffee1;
$allText-color:#fff;
// head component
$head-background: #ba4cff;
$tittle-text:#fff;

// h1
$h1: #92ff82;

// body component

$component-border: #fff;
$component-background:#fff;


// button

$button-border:#fff;
$button-background:#fff;
