@import "src/assets/scss/colors";
@import "src/assets/scss/mixins";

.headCube {
  @include displayFlex(row, space-between, initial);
  background-color: $head-background;
  max-width: 1100px;
  width: 100%;
  border-radius: 10px;
  padding: 10px 20px;
  height: 220px;

  &__contentDiv {
    @include displayFlex(column,space-around);
    max-width: 500px;
    width: 100%;
    .tittle {
      color: $tittle-text;
    }
  }

  &__logo {
    background-color: transparent;
  }
}
